.orders__caption{
    text-align: center;
    font-weight: 600;
    font-size:20px;
    margin: 10px 0 ;
}

.order__caption{
    font-weight: 600;
    font-size:16px;
    margin: 20px 0 10px;
}

.order__items{
    font-size:12px;
    display: grid;
    grid-template-columns: auto minmax(auto,150px) repeat(5,auto) ;
    margin: 0 0 10px 0;
    border : 1px solid #9f9f9f;
    cursor: pointer;
}

.order__items span {
    padding: 5px;
    /*align-self: center;*/
    background-color: inherit;
    border-right: inherit;
    margin-right: -1px;
    border-bottom: inherit;
    margin-bottom: -1px;
}

.order__items:hover {
    transform: scale(1.05);
}

